.container {
  display: grid;
  grid-template-columns: 20% 80%;
  background: url("./body-bg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.aside-menu {
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.863),
    rgba(146, 145, 145, 0.973)
  );

  grid-column-start: 1;
  grid-column-end: 1;
}

.aside-content {
  background-color: rgba(128, 128, 128, 0.829);
  /* background-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.863),
    rgba(146, 145, 145, 0.973)
  ); */
  grid-column-start: 2;
  grid-column-end: 2;
}
